# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.claude

# idea
out
*.ipr
*.iws
*.iml
.idea

src/generated/resources/.cache/*

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo